/**
 * Material SCSS Colors
 * Color Format: RGBA
 * _______________________________________________________________
 *
 * @author        Jesse Boyer     <https://github.com/jream>
 * @contributors  Rhul            <https://github.com/arcteezy>
 *                ..              <...>
 * _______________________________________________________________
 *
 * @help
 * Althought Unused SCSS isn't saved to CSS, I still recommended
 * Using: "Uncss" or "Purify CSS", both of which work work Webpack
 * and other build tools.
 *  - https://github.com/uncss/uncss
 *  - https://github.com/purifycss/purifycss
 *
 * _______________________________________________________________
 *
 * COLOR INDEX
 * _______________________________________________________________
 *  - BLACK & WHITE
 *  - RED
 *  - PINK
 *  - PURPLE
 *  - DEEP PURPLE
 *  - INDIGO
 *  - BLUE
 *  - LIGHT-BLUE
 *  - CYAN
 *  - TEAL
 *  - GREEN
 *  - LIGHT GREEN
 *  - LIME
 *  - YELLOW
 *  - AMBER
 *  - ORANGE
 *  - DEEP-ORANGE
 *  - BROWN
 *  - GRAY
 *  - BLUE-GRAY
 * _______________________________________________________________
 */

// BLACK & WHITE
// _______________________________________________________________
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

// RED
// _______________________________________________________________
$red-50: rgba(255, 235, 238, 1);
$red-100: rgba(255, 204, 209, 1);
$red-200: rgba(239, 154, 154, 1);
$red-300: rgba(229, 113, 113, 1);
$red-400: rgba(239, 85, 82, 1);
$red-500: rgba(244, 64, 52, 1);
$red-600: rgba(229, 55, 52, 1);
$red-700: rgba(211, 49, 49, 1);
$red-800: rgba(199, 41, 41, 1);
$red-900: rgba(181, 28, 28, 1);
$red-A100: rgba(255, 138, 128, 1);
$red-A200: rgba(255, 82, 82, 1);
$red-A400: rgba(255, 26, 71, 1);
$red-A700: rgba(214, 0, 0, 1);

// PINK
// _______________________________________________________________
$pink-50: rgba(252, 227, 236, 1);
$pink-100: rgba(248, 186, 207, 1);
$pink-200: rgba(244, 144, 177, 1);
$pink-300: rgba(240, 96, 144, 1);
$pink-400: rgba(236, 65, 122, 1);
$pink-500: rgba(233, 32, 99, 1);
$pink-600: rgba(218, 27, 97, 1);
$pink-700: rgba(195, 24, 93, 1);
$pink-800: rgba(173, 20, 87, 1);
$pink-900: rgba(134, 14, 78, 1);
$pink-A100: rgba(255, 128, 170, 1);
$pink-A200: rgba(255, 66, 129, 1);
$pink-A400: rgba(245, 0, 86, 1);
$pink-A700: rgba(197, 17, 98, 1);

// PURPLE
// _______________________________________________________________
$purple-50: rgba(243, 229, 245, 1);
$purple-100: rgba(226, 192, 232, 1);
$purple-200: rgba(205, 146, 216, 1);
$purple-300: rgba(187, 105, 201, 1);
$purple-400: rgba(171, 71, 189, 1);
$purple-500: rgba(155, 39, 176, 1);
$purple-600: rgba(140, 36, 168, 1);
$purple-700: rgba(123, 31, 163, 1);
$purple-800: rgba(104, 27, 152, 1);
$purple-900: rgba(73, 20, 138, 1);
$purple-A100: rgba(234, 131, 252, 1);
$purple-A200: rgba(223, 65, 251, 1);
$purple-A400: rgba(212, 0, 250, 1);
$purple-A700: rgba(170, 0, 255, 1);

// DEEP PURPLE
// _______________________________________________________________
$deep-purple-50: rgba(238, 233, 247, 1);
$deep-purple-100: rgba(209, 195, 233, 1);
$deep-purple-200: rgba(180, 158, 219, 1);
$deep-purple-300: rgba(149, 116, 205, 1);
$deep-purple-400: rgba(126, 86, 194, 1);
$deep-purple-500: rgba(103, 58, 182, 1);
$deep-purple-600: rgba(94, 53, 177, 1);
$deep-purple-700: rgba(82, 45, 169, 1);
$deep-purple-800: rgba(69, 39, 160, 1);
$deep-purple-900: rgba(49, 27, 147, 1);
$deep-purple-A100: rgba(181, 138, 255, 1);
$deep-purple-A200: rgba(124, 77, 255, 1);
$deep-purple-A400: rgba(102, 31, 255, 1);
$deep-purple-A700: rgba(98, 0, 235, 1);

// INDIGO
// _______________________________________________________________
$indigo-50: rgba(233, 235, 246, 1);
$indigo-100: rgba(196, 201, 233, 1);
$indigo-200: rgba(160, 168, 218, 1);
$indigo-300: rgba(123, 136, 204, 1);
$indigo-400: rgba(93, 108, 192, 1);
$indigo-500: rgba(64, 81, 181, 1);
$indigo-600: rgba(57, 73, 172, 1);
$indigo-700: rgba(48, 63, 161, 1);
$indigo-800: rgba(41, 53, 148, 1);
$indigo-900: rgba(26, 34, 127, 1);
$indigo-A100: rgba(138, 155, 255, 1);
$indigo-A200: rgba(82, 108, 254, 1);
$indigo-A400: rgba(62, 91, 254, 1);
$indigo-A700: rgba(47, 78, 254, 1);

// BLUE
// _______________________________________________________________
$blue-50: rgba(226, 242, 253, 1);
$blue-100: rgba(188, 222, 251, 1);
$blue-200: rgba(144, 202, 249, 1);
$blue-300: rgba(101, 181, 246, 1);
$blue-400: rgba(66, 165, 245, 1);
$blue-500: rgba(32, 148, 243, 1);
$blue-600: rgba(31, 137, 229, 1);
$blue-700: rgba(25, 117, 210, 1);
$blue-800: rgba(21, 101, 193, 1);
$blue-900: rgba(13, 72, 160, 1);
$blue-A100: rgba(128, 176, 255, 1);
$blue-A200: rgba(66, 135, 255, 1);
$blue-A400: rgba(41, 119, 255, 1);
$blue-A700: rgba(41, 98, 255, 1);

// LIGHT-BLUE
// _______________________________________________________________
$light-blue-50: rgba(225, 245, 254, 1);
$light-blue-100: rgba(182, 230, 252, 1);
$light-blue-200: rgba(128, 211, 250, 1);
$light-blue-300: rgba(80, 194, 247, 1);
$light-blue-400: rgba(40, 181, 246, 1);
$light-blue-500: rgba(2, 166, 242, 1);
$light-blue-600: rgba(3, 152, 226, 1);
$light-blue-700: rgba(2, 135, 207, 1);
$light-blue-800: rgba(2, 119, 187, 1);
$light-blue-900: rgba(1, 89, 157, 1);
$light-blue-A100: rgba(128, 217, 255, 1);
$light-blue-A200: rgba(66, 195, 255, 1);
$light-blue-A400: rgba(0, 174, 255, 1);
$light-blue-A700: rgba(0, 145, 235, 1);

// CYAN
// _______________________________________________________________
$cyan-50: rgba(224, 247, 250, 1);
$cyan-100: rgba(177, 234, 242, 1);
$cyan-200: rgba(128, 222, 234, 1);
$cyan-300: rgba(76, 207, 225, 1);
$cyan-400: rgba(37, 197, 218, 1);
$cyan-500: rgba(0, 189, 214, 1);
$cyan-600: rgba(0, 171, 194, 1);
$cyan-700: rgba(0, 151, 168, 1);
$cyan-800: rgba(0, 131, 143, 1);
$cyan-900: rgba(0, 99, 102, 1);
$cyan-A100: rgba(133, 255, 255, 1);
$cyan-A200: rgba(26, 255, 255, 1);
$cyan-A400: rgba(0, 229, 255, 1);
$cyan-A700: rgba(0, 186, 214, 1);

// TEAL
// _______________________________________________________________
$teal-50: rgba(223, 241, 241, 1);
$teal-100: rgba(179, 223, 220, 1);
$teal-200: rgba(128, 203, 196, 1);
$teal-300: rgba(78, 183, 172, 1);
$teal-400: rgba(38, 166, 153, 1);
$teal-500: rgba(0, 148, 133, 1);
$teal-600: rgba(0, 138, 124, 1);
$teal-700: rgba(0, 122, 108, 1);
$teal-800: rgba(0, 107, 95, 1);
$teal-900: rgba(0, 77, 64, 1);
$teal-A100: rgba(168, 255, 235, 1);
$teal-A200: rgba(102, 255, 219, 1);
$teal-A400: rgba(28, 233, 181, 1);
$teal-A700: rgba(0, 189, 164, 1);

// GREEN
// _______________________________________________________________
$green-50: rgba(234, 246, 235, 1);
$green-100: rgba(199, 229, 200, 1);
$green-200: rgba(164, 213, 166, 1);
$green-300: rgba(128, 198, 132, 1);
$green-400: rgba(104, 187, 108, 1);
$green-500: rgba(76, 174, 79, 1);
$green-600: rgba(68, 162, 72, 1);
$green-700: rgba(57, 142, 61, 1);
$green-800: rgba(47, 127, 51, 1);
$green-900: rgba(28, 95, 32, 1);
$green-A100: rgba(187, 246, 204, 1);
$green-A200: rgba(106, 240, 176, 1);
$green-A400: rgba(0, 230, 119, 1);
$green-A700: rgba(0, 199, 83, 1);

// LIGHT GREEN
// _______________________________________________________________
$light-green-50: rgba(240, 248, 232, 1);
$light-green-100: rgba(221, 238, 201, 1);
$light-green-200: rgba(196, 224, 163, 1);
$light-green-300: rgba(174, 213, 129, 1);
$light-green-400: rgba(156, 204, 102, 1);
$light-green-500: rgba(139, 195, 75, 1);
$light-green-600: rgba(124, 179, 66, 1);
$light-green-700: rgba(104, 159, 56, 1);
$light-green-800: rgba(84, 137, 47, 1);
$light-green-900: rgba(50, 103, 29, 1);
$light-green-A100: rgba(203, 255, 143, 1);
$light-green-A200: rgba(176, 255, 87, 1);
$light-green-A400: rgba(118, 255, 5, 1);
$light-green-A700: rgba(99, 222, 23, 1);

// LIME
// _______________________________________________________________
$lime-50: rgba(249, 251, 233, 1);
$lime-100: rgba(240, 244, 195, 1);
$lime-200: rgba(230, 238, 155, 1);
$lime-300: rgba(219, 231, 116, 1);
$lime-400: rgba(211, 225, 86, 1);
$lime-500: rgba(203, 220, 56, 1);
$lime-600: rgba(194, 204, 51, 1);
$lime-700: rgba(176, 181, 44, 1);
$lime-800: rgba(158, 158, 36, 1);
$lime-900: rgba(130, 119, 23, 1);
$lime-A100: rgba(244, 255, 128, 1);
$lime-A200: rgba(239, 255, 66, 1);
$lime-A400: rgba(200, 255, 0, 1);
$lime-A700: rgba(176, 235, 0, 1);

// YELLOW
// _______________________________________________________________
$yellow-50: rgba(255, 253, 229, 1);
$yellow-100: rgba(255, 249, 194, 1);
$yellow-200: rgba(255, 245, 158, 1);
$yellow-300: rgba(255, 241, 117, 1);
$yellow-400: rgba(255, 238, 87, 1);
$yellow-500: rgba(255, 236, 61, 1);
$yellow-600: rgba(253, 216, 53, 1);
$yellow-700: rgba(251, 192, 45, 1);
$yellow-800: rgba(249, 168, 36, 1);
$yellow-900: rgba(245, 128, 25, 1);
$yellow-A100: rgba(255, 255, 143, 1);
$yellow-A200: rgba(255, 255, 0, 1);
$yellow-A400: rgba(255, 234, 0, 1);
$yellow-A700: rgba(255, 213, 0, 1);

// AMBER
// _______________________________________________________________
$amber-50: rgba(255, 248, 224, 1);
$amber-100: rgba(255, 236, 179, 1);
$amber-200: rgba(255, 223, 128, 1);
$amber-300: rgba(255, 213, 77, 1);
$amber-400: rgba(255, 201, 41, 1);
$amber-500: rgba(255, 193, 5, 1);
$amber-600: rgba(255, 179, 0, 1);
$amber-700: rgba(255, 162, 0, 1);
$amber-800: rgba(255, 145, 0, 1);
$amber-900: rgba(255, 110, 0, 1);
$amber-A100: rgba(255, 230, 128, 1);
$amber-A200: rgba(255, 214, 66, 1);
$amber-A400: rgba(255, 195, 0, 1);
$amber-A700: rgba(255, 170, 0, 1);

// ORANGE
// _______________________________________________________________
$orange-50: rgba(255, 243, 224, 1);
$orange-100: rgba(255, 224, 179, 1);
$orange-200: rgba(255, 204, 128, 1);
$orange-300: rgba(255, 184, 77, 1);
$orange-400: rgba(255, 167, 36, 1);
$orange-500: rgba(255, 153, 0, 1);
$orange-600: rgba(250, 137, 0, 1);
$orange-700: rgba(245, 122, 0, 1);
$orange-800: rgba(240, 108, 0, 1);
$orange-900: rgba(230, 80, 0, 1);
$orange-A100: rgba(255, 208, 128, 1);
$orange-A200: rgba(255, 173, 66, 1);
$orange-A400: rgba(255, 145, 0, 1);
$orange-A700: rgba(255, 110, 0, 1);

// DEEP-ORANGE
// _______________________________________________________________
$deep-orange-50: rgba(251, 235, 233, 1);
$deep-orange-100: rgba(255, 204, 189, 1);
$deep-orange-200: rgba(255, 169, 143, 1);
$deep-orange-300: rgba(255, 138, 102, 1);
$deep-orange-400: rgba(255, 110, 66, 1);
$deep-orange-500: rgba(255, 87, 36, 1);
$deep-orange-600: rgba(244, 81, 31, 1);
$deep-orange-700: rgba(230, 73, 25, 1);
$deep-orange-800: rgba(213, 66, 21, 1);
$deep-orange-900: rgba(192, 54, 12, 1);
$deep-orange-A100: rgba(255, 157, 128, 1);
$deep-orange-A200: rgba(255, 110, 66, 1);
$deep-orange-A400: rgba(255, 60, 0, 1);
$deep-orange-A700: rgba(219, 44, 0, 1);

// BROWN
// _______________________________________________________________
$brown-50: rgba(240, 236, 234, 1);
$brown-100: rgba(214, 203, 199, 1);
$brown-200: rgba(188, 170, 164, 1);
$brown-300: rgba(160, 135, 126, 1);
$brown-400: rgba(141, 110, 98, 1);
$brown-500: rgba(121, 86, 73, 1);
$brown-600: rgba(108, 76, 65, 1);
$brown-700: rgba(93, 64, 55, 1);
$brown-800: rgba(77, 51, 45, 1);
$brown-900: rgba(62, 39, 35, 1);

// GRAY
// _______________________________________________________________
$gray-50: rgba(250, 250, 250, 1);
$gray-100: rgba(245, 245, 245, 1);
$gray-200: rgba(237, 237, 237, 1);
$gray-300: rgba(224, 224, 224, 1);
$gray-400: rgba(189, 189, 189, 1);
$gray-500: rgba(158, 158, 158, 1);
$gray-600: rgba(117, 117, 117, 1);
$gray-700: rgba(97, 97, 97, 1);
$gray-800: rgba(66, 66, 66, 1);
$gray-900: rgba(33, 33, 33, 1);

// BLUE-GRAY
// _______________________________________________________________
$blue-gray-50: rgba(237, 240, 242, 1);
$blue-gray-100: rgba(208, 217, 221, 1);
$blue-gray-200: rgba(176, 190, 196, 1);
$blue-gray-300: rgba(143, 163, 174, 1);
$blue-gray-400: rgba(120, 144, 155, 1);
$blue-gray-500: rgba(96, 124, 138, 1);
$blue-gray-600: rgba(84, 109, 120, 1);
$blue-gray-700: rgba(69, 90, 99, 1);
$blue-gray-800: rgba(54, 70, 78, 1);
$blue-gray-900: rgba(37, 49, 55, 1);
