/**
 * Material SCSS Colors
 * Color Format: HSLA
 * _______________________________________________________________
 *
 * @author        Jesse Boyer     <https://github.com/jream>
 * @contributors  Rhul            <https://github.com/arcteezy>
 *                ..              <...>
 * _______________________________________________________________
 *
 * @help
 * Althought Unused SCSS isn't saved to CSS, I still recommended
 * Using: "Uncss" or "Purify CSS", both of which work work Webpack
 * and other build tools.
 *  - https://github.com/uncss/uncss
 *  - https://github.com/purifycss/purifycss
 *
 * _______________________________________________________________
 *
 * COLOR INDEX
 * _______________________________________________________________
 *  - BLACK & WHITE
 *  - RED
 *  - PINK
 *  - PURPLE
 *  - DEEP PURPLE
 *  - INDIGO
 *  - BLUE
 *  - LIGHT-BLUE
 *  - CYAN
 *  - TEAL
 *  - GREEN
 *  - LIGHT GREEN
 *  - LIME
 *  - YELLOW
 *  - AMBER
 *  - ORANGE
 *  - DEEP-ORANGE
 *  - BROWN
 *  - GRAY
 *  - BLUE-GRAY
 * _______________________________________________________________
 */

// BLACK & WHITE
// _______________________________________________________________
$black: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);

// RED
// _______________________________________________________________
$red-50: hsla(351, 100%, 96%, 1);
$red-100: hsla(354, 100%, 90%, 1);
$red-200: hsla(0, 73%, 77%, 1);
$red-300: hsla(0, 69%, 67%, 1);
$red-400: hsla(1, 83%, 63%, 1);
$red-500: hsla(4, 90%, 58%, 1);
$red-600: hsla(1, 77%, 55%, 1);
$red-700: hsla(0, 65%, 51%, 1);
$red-800: hsla(0, 66%, 47%, 1);
$red-900: hsla(0, 73%, 41%, 1);
$red-A100: hsla(5, 100%, 75%, 1);
$red-A200: hsla(0, 100%, 66%, 1);
$red-A400: hsla(348, 100%, 55%, 1);
$red-A700: hsla(0, 100%, 42%, 1);

// PINK
// _______________________________________________________________
$pink-50: hsla(338, 81%, 94%, 1);
$pink-100: hsla(340, 82%, 85%, 1);
$pink-200: hsla(340, 82%, 76%, 1);
$pink-300: hsla(340, 83%, 66%, 1);
$pink-400: hsla(340, 82%, 59%, 1);
$pink-500: hsla(340, 82%, 52%, 1);
$pink-600: hsla(338, 78%, 48%, 1);
$pink-700: hsla(336, 78%, 43%, 1);
$pink-800: hsla(334, 79%, 38%, 1);
$pink-900: hsla(328, 81%, 29%, 1);
$pink-A100: hsla(340, 100%, 75%, 1);
$pink-A200: hsla(340, 100%, 63%, 1);
$pink-A400: hsla(339, 100%, 48%, 1);
$pink-A700: hsla(333, 84%, 42%, 1);

// PURPLE
// _______________________________________________________________
$purple-50: hsla(292, 44%, 93%, 1);
$purple-100: hsla(291, 47%, 83%, 1);
$purple-200: hsla(291, 47%, 71%, 1);
$purple-300: hsla(291, 47%, 60%, 1);
$purple-400: hsla(291, 47%, 51%, 1);
$purple-500: hsla(291, 64%, 42%, 1);
$purple-600: hsla(287, 65%, 40%, 1);
$purple-700: hsla(282, 68%, 38%, 1);
$purple-800: hsla(277, 70%, 35%, 1);
$purple-900: hsla(267, 75%, 31%, 1);
$purple-A100: hsla(291, 95%, 75%, 1);
$purple-A200: hsla(291, 96%, 62%, 1);
$purple-A400: hsla(291, 100%, 49%, 1);
$purple-A700: hsla(280, 100%, 50%, 1);

// DEEP PURPLE
// _______________________________________________________________
$deep-purple-50: hsla(261, 47%, 94%, 1);
$deep-purple-100: hsla(262, 46%, 84%, 1);
$deep-purple-200: hsla(262, 46%, 74%, 1);
$deep-purple-300: hsla(262, 47%, 63%, 1);
$deep-purple-400: hsla(262, 47%, 55%, 1);
$deep-purple-500: hsla(262, 52%, 47%, 1);
$deep-purple-600: hsla(260, 54%, 45%, 1);
$deep-purple-700: hsla(258, 58%, 42%, 1);
$deep-purple-800: hsla(255, 61%, 39%, 1);
$deep-purple-900: hsla(251, 69%, 34%, 1);
$deep-purple-A100: hsla(262, 100%, 77%, 1);
$deep-purple-A200: hsla(256, 100%, 65%, 1);
$deep-purple-A400: hsla(259, 100%, 56%, 1);
$deep-purple-A700: hsla(265, 100%, 46%, 1);

// INDIGO
// _______________________________________________________________
$indigo-50: hsla(231, 42%, 94%, 1);
$indigo-100: hsla(232, 46%, 84%, 1);
$indigo-200: hsla(232, 44%, 74%, 1);
$indigo-300: hsla(230, 44%, 64%, 1);
$indigo-400: hsla(231, 44%, 56%, 1);
$indigo-500: hsla(231, 48%, 48%, 1);
$indigo-600: hsla(232, 50%, 45%, 1);
$indigo-700: hsla(232, 54%, 41%, 1);
$indigo-800: hsla(233, 57%, 37%, 1);
$indigo-900: hsla(235, 66%, 30%, 1);
$indigo-A100: hsla(231, 100%, 77%, 1);
$indigo-A200: hsla(231, 99%, 66%, 1);
$indigo-A400: hsla(231, 99%, 62%, 1);
$indigo-A700: hsla(231, 99%, 59%, 1);

// BLUE
// _______________________________________________________________
$blue-50: hsla(204, 87%, 94%, 1);
$blue-100: hsla(208, 89%, 86%, 1);
$blue-200: hsla(207, 90%, 77%, 1);
$blue-300: hsla(207, 89%, 68%, 1);
$blue-400: hsla(207, 90%, 61%, 1);
$blue-500: hsla(207, 90%, 54%, 1);
$blue-600: hsla(208, 79%, 51%, 1);
$blue-700: hsla(210, 79%, 46%, 1);
$blue-800: hsla(212, 80%, 42%, 1);
$blue-900: hsla(216, 85%, 34%, 1);
$blue-A100: hsla(217, 100%, 75%, 1);
$blue-A200: hsla(218, 100%, 63%, 1);
$blue-A400: hsla(218, 100%, 58%, 1);
$blue-A700: hsla(224, 100%, 58%, 1);

// LIGHT-BLUE
// _______________________________________________________________
$light-blue-50: hsla(199, 94%, 94%, 1);
$light-blue-100: hsla(199, 92%, 85%, 1);
$light-blue-200: hsla(199, 92%, 74%, 1);
$light-blue-300: hsla(199, 91%, 64%, 1);
$light-blue-400: hsla(199, 92%, 56%, 1);
$light-blue-500: hsla(199, 98%, 48%, 1);
$light-blue-600: hsla(200, 97%, 45%, 1);
$light-blue-700: hsla(201, 98%, 41%, 1);
$light-blue-800: hsla(202, 98%, 37%, 1);
$light-blue-900: hsla(206, 99%, 31%, 1);
$light-blue-A100: hsla(198, 100%, 75%, 1);
$light-blue-A200: hsla(199, 100%, 63%, 1);
$light-blue-A400: hsla(199, 100%, 50%, 1);
$light-blue-A700: hsla(203, 100%, 46%, 1);

// CYAN
// _______________________________________________________________
$cyan-50: hsla(187, 72%, 93%, 1);
$cyan-100: hsla(187, 71%, 82%, 1);
$cyan-200: hsla(187, 72%, 71%, 1);
$cyan-300: hsla(187, 71%, 59%, 1);
$cyan-400: hsla(187, 71%, 50%, 1);
$cyan-500: hsla(187, 100%, 42%, 1);
$cyan-600: hsla(187, 100%, 38%, 1);
$cyan-700: hsla(186, 100%, 33%, 1);
$cyan-800: hsla(185, 100%, 28%, 1);
$cyan-900: hsla(182, 100%, 20%, 1);
$cyan-A100: hsla(180, 100%, 76%, 1);
$cyan-A200: hsla(180, 100%, 55%, 1);
$cyan-A400: hsla(186, 100%, 50%, 1);
$cyan-A700: hsla(188, 100%, 42%, 1);

// TEAL
// _______________________________________________________________
$teal-50: hsla(180, 39%, 91%, 1);
$teal-100: hsla(176, 41%, 79%, 1);
$teal-200: hsla(174, 42%, 65%, 1);
$teal-300: hsla(174, 42%, 51%, 1);
$teal-400: hsla(174, 63%, 40%, 1);
$teal-500: hsla(174, 100%, 29%, 1);
$teal-600: hsla(174, 100%, 27%, 1);
$teal-700: hsla(173, 100%, 24%, 1);
$teal-800: hsla(173, 100%, 21%, 1);
$teal-900: hsla(170, 100%, 15%, 1);
$teal-A100: hsla(166, 100%, 83%, 1);
$teal-A200: hsla(166, 100%, 70%, 1);
$teal-A400: hsla(165, 82%, 51%, 1);
$teal-A700: hsla(172, 100%, 37%, 1);

// GREEN
// _______________________________________________________________
$green-50: hsla(125, 40%, 94%, 1);
$green-100: hsla(122, 37%, 84%, 1);
$green-200: hsla(122, 37%, 74%, 1);
$green-300: hsla(123, 38%, 64%, 1);
$green-400: hsla(123, 38%, 57%, 1);
$green-500: hsla(122, 39%, 49%, 1);
$green-600: hsla(123, 41%, 45%, 1);
$green-700: hsla(123, 43%, 39%, 1);
$green-800: hsla(123, 46%, 34%, 1);
$green-900: hsla(124, 54%, 24%, 1);
$green-A100: hsla(137, 77%, 85%, 1);
$green-A200: hsla(151, 82%, 68%, 1);
$green-A400: hsla(151, 100%, 45%, 1);
$green-A700: hsla(145, 100%, 39%, 1);

// LIGHT GREEN
// _______________________________________________________________
$light-green-50: hsla(90, 53%, 94%, 1);
$light-green-100: hsla(88, 52%, 86%, 1);
$light-green-200: hsla(88, 50%, 76%, 1);
$light-green-300: hsla(88, 50%, 67%, 1);
$light-green-400: hsla(88, 50%, 60%, 1);
$light-green-500: hsla(88, 50%, 53%, 1);
$light-green-600: hsla(89, 46%, 48%, 1);
$light-green-700: hsla(92, 48%, 42%, 1);
$light-green-800: hsla(95, 49%, 36%, 1);
$light-green-900: hsla(103, 56%, 26%, 1);
$light-green-A100: hsla(88, 100%, 78%, 1);
$light-green-A200: hsla(88, 100%, 67%, 1);
$light-green-A400: hsla(93, 100%, 51%, 1);
$light-green-A700: hsla(97, 81%, 48%, 1);

// LIME
// _______________________________________________________________
$lime-50: hsla(67, 69%, 95%, 1);
$lime-100: hsla(65, 69%, 86%, 1);
$lime-200: hsla(66, 71%, 77%, 1);
$lime-300: hsla(66, 71%, 68%, 1);
$lime-400: hsla(66, 70%, 61%, 1);
$lime-500: hsla(66, 70%, 54%, 1);
$lime-600: hsla(64, 60%, 50%, 1);
$lime-700: hsla(62, 61%, 44%, 1);
$lime-800: hsla(60, 63%, 38%, 1);
$lime-900: hsla(54, 70%, 30%, 1);
$lime-A100: hsla(65, 100%, 75%, 1);
$lime-A200: hsla(65, 100%, 63%, 1);
$lime-A400: hsla(73, 100%, 50%, 1);
$lime-A700: hsla(75, 100%, 46%, 1);

// YELLOW
// _______________________________________________________________
$yellow-50: hsla(55, 100%, 95%, 1);
$yellow-100: hsla(54, 100%, 88%, 1);
$yellow-200: hsla(54, 100%, 81%, 1);
$yellow-300: hsla(54, 100%, 73%, 1);
$yellow-400: hsla(54, 100%, 67%, 1);
$yellow-500: hsla(54, 100%, 62%, 1);
$yellow-600: hsla(49, 98%, 60%, 1);
$yellow-700: hsla(43, 96%, 58%, 1);
$yellow-800: hsla(37, 95%, 56%, 1);
$yellow-900: hsla(28, 92%, 53%, 1);
$yellow-A100: hsla(60, 100%, 78%, 1);
$yellow-A200: hsla(60, 100%, 50%, 1);
$yellow-A400: hsla(55, 100%, 50%, 1);
$yellow-A700: hsla(50, 100%, 50%, 1);

// AMBER
// _______________________________________________________________
$amber-50: hsla(46, 100%, 94%, 1);
$amber-100: hsla(45, 100%, 85%, 1);
$amber-200: hsla(45, 100%, 75%, 1);
$amber-300: hsla(46, 100%, 65%, 1);
$amber-400: hsla(45, 100%, 58%, 1);
$amber-500: hsla(45, 100%, 51%, 1);
$amber-600: hsla(42, 100%, 50%, 1);
$amber-700: hsla(38, 100%, 50%, 1);
$amber-800: hsla(34, 100%, 50%, 1);
$amber-900: hsla(26, 100%, 50%, 1);
$amber-A100: hsla(48, 100%, 75%, 1);
$amber-A200: hsla(47, 100%, 63%, 1);
$amber-A400: hsla(46, 100%, 50%, 1);
$amber-A700: hsla(40, 100%, 50%, 1);

// ORANGE
// _______________________________________________________________
$orange-50: hsla(37, 100%, 94%, 1);
$orange-100: hsla(36, 100%, 85%, 1);
$orange-200: hsla(36, 100%, 75%, 1);
$orange-300: hsla(36, 100%, 65%, 1);
$orange-400: hsla(36, 100%, 57%, 1);
$orange-500: hsla(36, 100%, 50%, 1);
$orange-600: hsla(33, 100%, 49%, 1);
$orange-700: hsla(30, 100%, 48%, 1);
$orange-800: hsla(27, 100%, 47%, 1);
$orange-900: hsla(21, 100%, 45%, 1);
$orange-A100: hsla(38, 100%, 75%, 1);
$orange-A200: hsla(34, 100%, 63%, 1);
$orange-A400: hsla(34, 100%, 50%, 1);
$orange-A700: hsla(26, 100%, 50%, 1);

// DEEP-ORANGE
// _______________________________________________________________
$deep-orange-50: hsla(7, 69%, 95%, 1);
$deep-orange-100: hsla(14, 100%, 87%, 1);
$deep-orange-200: hsla(14, 100%, 78%, 1);
$deep-orange-300: hsla(14, 100%, 70%, 1);
$deep-orange-400: hsla(14, 100%, 63%, 1);
$deep-orange-500: hsla(14, 100%, 57%, 1);
$deep-orange-600: hsla(14, 91%, 54%, 1);
$deep-orange-700: hsla(14, 80%, 50%, 1);
$deep-orange-800: hsla(14, 82%, 46%, 1);
$deep-orange-900: hsla(14, 88%, 40%, 1);
$deep-orange-A100: hsla(14, 100%, 75%, 1);
$deep-orange-A200: hsla(14, 100%, 63%, 1);
$deep-orange-A400: hsla(14, 100%, 50%, 1);
$deep-orange-A700: hsla(12, 100%, 43%, 1);

// BROWN
// _______________________________________________________________
$brown-50: hsla(20, 17%, 93%, 1);
$brown-100: hsla(16, 15%, 81%, 1);
$brown-200: hsla(15, 15%, 69%, 1);
$brown-300: hsla(16, 15%, 56%, 1);
$brown-400: hsla(17, 18%, 47%, 1);
$brown-500: hsla(16, 25%, 38%, 1);
$brown-600: hsla(15, 25%, 34%, 1);
$brown-700: hsla(14, 26%, 29%, 1);
$brown-800: hsla(11, 26%, 24%, 1);
$brown-900: hsla(9, 28%, 19%, 1);

// GRAY
// _______________________________________________________________
$gray-50: hsla(0, 0%, 98%, 1);
$gray-100: hsla(0, 0%, 96%, 1);
$gray-200: hsla(0, 0%, 93%, 1);
$gray-300: hsla(0, 0%, 88%, 1);
$gray-400: hsla(0, 0%, 74%, 1);
$gray-500: hsla(0, 0%, 62%, 1);
$gray-600: hsla(0, 0%, 46%, 1);
$gray-700: hsla(0, 0%, 38%, 1);
$gray-800: hsla(0, 0%, 26%, 1);
$gray-900: hsla(0, 0%, 13%, 1);

// BLUE-GRAY
// _______________________________________________________________
$blue-gray-50: hsla(204, 16%, 94%, 1);
$blue-gray-100: hsla(198, 16%, 84%, 1);
$blue-gray-200: hsla(198, 14%, 73%, 1);
$blue-gray-300: hsla(201, 16%, 62%, 1);
$blue-gray-400: hsla(199, 15%, 54%, 1);
$blue-gray-500: hsla(200, 18%, 46%, 1);
$blue-gray-600: hsla(198, 18%, 40%, 1);
$blue-gray-700: hsla(198, 18%, 33%, 1);
$blue-gray-800: hsla(200, 18%, 26%, 1);
$blue-gray-900: hsla(200, 20%, 18%, 1);
