/**
 * Curated by Jesse Boyer <https://jream.com>
 *
 * <YES> This is the way I recommend!

 * @example 2: Only importing colors I want to use
 */
@import 'colors/amber';
@import 'colors/cyan';
@import 'colors/grey';
@import 'colors/red';
